{% extends 'base.html' %}

{% block content %}

    <h2 class="fw-light text-center mb-3">Смена пароля</h2>

    <form class="mb-4" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <p class="mb-1">{{ field.label_tag }}</p>
            <p>{{ field }}</p>
            <p>{{ field.errors }}</p>
        {% endfor %}

        <div class="d-grid gap-2 col-md-6 mx-auto">
            <button type="submit" class="btn btn-warning btn-block container-fluid">Сменить Пароль</button>
        </div>
    </form>

{% endblock %}