{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <!-- carousel -->
        <div id="myCarousel" class="carousel slide carousel-fade mb-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true"
                        aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner rounded">
                <div class="carousel-item active" data-bs-interval="3200">
                    <img src="{% static 'plankiHomePage/images/p1.jpg' %}" class="d-block w-100" alt="Image">
                </div>
                <div class="carousel-item" data-bs-interval="3200">
                    <img src="{% static 'plankiHomePage/images/p2.jpg' %}" class="d-block w-100" alt="Image">
                </div>
                <div class="carousel-item" data-bs-interval="3200">
                    <img src="{% static 'plankiHomePage/images/p3.jpg' %}" class="d-block w-100" alt="Image">
                </div>
                <div class="carousel-item" data-bs-interval="3200">
                    <img src="{% static 'plankiHomePage/images/p4.jpg' %}" class="d-block w-100" alt="Image">
                </div>
                <div class="carousel-item" data-bs-interval="3200">
                    <img src="{% static 'plankiHomePage/images/p5.jpg' %}" class="d-block w-100" alt="Image">
                </div>
                <div class="carousel-item" data-bs-interval="3200">
                    <img src="{% static 'plankiHomePage/images/p6.jpg' %}" class="d-block w-100" alt="Image">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>

        <!-- marketing content -->
        <h2 class="mb-1 fw-light">Планки</h2>
        <p class="fw-light">Показываются планки из категории "Ордена России"</p>
        <hr>
        {% include "inc/_products.html" with product_list=slats %}

        <h2 class="mt-4 fw-light">Жетоны</h2>
        <hr>
        {% include "inc/_products.html" with product_list=jettons %}

    </main>
{% endblock %}