{% extends 'base.html' %}
{% load static %}

{% block title %}Условия соглашения :: {{ block.super }}{% endblock %}

{% block content %}
    <h1>Условия соглашения</h1>
    <p>Общие положения
        Менеджер осуществляет заказ Товаров через Интернет-магазин по адресу www.планки.москва
        Заказывая Товары через Интернет-магазин планки.москва, Пользователь соглашается с условиями заказа Товаров,
        изложенными ниже (далее — Условия заказа товаров). В случае несогласия с настоящим Пользовательским соглашением.
        Пользователь обязан немедленно прекратить использование сервиса и покинуть сайт www.планки.москва.
        Настоящие Условия заказа товаров, а также информация о Товаре, представленная на Сайте,www.планки.москва
        являются
        публичной офертой в соответствии со ст.435 и п.2 ст.437 Гражданского кодекса Российской Федерации.
        Соглашение может быть изменено Менеджером в одностороннем порядке без уведомления Пользователя/Заказчика. Новая
        редакция Соглашения вступает в силу по истечении 10 (Десяти) календарных дней с момента ее опубликования на
        Сайте,
        если иное не предусмотрено условиями настоящего Соглашения.
        Публичная оферта признается акцептованной Посетителем Сайта www.планки.москва / Заказчика с момента регистрации
        Посетителя на Сайте, оформления Заказчика Заказа без авторизации на Сайте, с момента отправки любых форм на
        Сайте,
        требующих введения данных Покупателя, а также с момента принятия от Покупателя Заказа по телефонам, указанным на
        Сайте.
        Договор розничной купли-продажи считается заключенным с момента выдачи Менеджером Заказчику кассового или
        товарного
        чека либо иного документа, подтверждающего оплату товара.
        Сообщая Менеджеру свое Имя, e-mail и номер телефона, Посетитель Сайта www.планки.москва/Пользователь/Заказчик
        дает
        согласие на обработку и использование своих персональных данных согласно ФЗ № 152-ФЗ «О персональных данных» от
        27.07.2006 г. различными способами.в целях осуществления рассылок рекламного и информационного характера,
        содержащих
        информацию о скидках, предстоящих и действующих акциях и других мероприятиях Менеджера, о передаче заказа в
        доставку, а также иную информацию, непосредственно связанную с выполнением обязательств Покупателем в рамках
        настоящей Публичной оферты.
        Менеджер обязуется не разглашать полученную от Заказчика информацию. При этом не считается нарушением
        обязательств
        разглашение информации в случае, когда обязанность такого раскрытия установлена требованиями действующего
        законодательства РФ.

        Предмет соглашения
        Предметом настоящего Соглашения является предоставление возможности Пользователю приобретать для личных,
        служебных и
        иных нужд, Услуги, представленные в каталоге Интернет-магазина для военнослужащих по адресу www.планки.москва.
        Данное Соглашение распространяется на все виды Услуг, представленных на Сайте www.планки.москва, пока такие
        предложения с описанием присутствуют в каталоге Интернет-магазина для военнослужащих www.планки.москва.

    </p>

{% endblock %}